<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <!--MATERALIZE CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		<link rel="stylesheet" href="/assets/styles/style.css" type="text/css" />
		<title>Eat-Da-Burger!</title>
	</head>
	<body>
		{{{ body }}}
        <!--JQUERY-->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	    <!--MATERIALIZE JS -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	</body>
</html>
